/*
 * This file is part of IssueTracker.
 *
 * IssueTracker is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * IssueTracker is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with IssueTracker.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
@import "common";


.form {
    width: 640px;
    max-width: 100%;
    box-shadow: $shadow;
    padding: 16px;

    &.form--narrow {
        width: 320px;
    }

    .form__field {
        width: 100%;
        margin-bottom: 8px;
    }

    .form__field-group {
        display: flex;
        margin-bottom: 8px;
        .form__field {
            flex-grow: 1;
            flex-shrink: 1;
            margin-bottom: 0;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .form__label {
        display: block;
        font-size: $small;
        color: $primary-color;
        width: 100%;
    }

    .form__text {
        font-size: $normal;
        line-height: 1.5;
        width: 100%;
        box-sizing: border-box;
        padding: 4px 0;
        outline: none;

        border: none;
        border-bottom: 2px solid $border-color;
        transition: $fast;

        &.form--multiline {
            height: 10em;
        }


        &:focus {
            border-bottom-color: $primary-color;
            transition: $fast;
        }
    }

    .form__errors {
        .form__error {
            font-size: $small;
            color: $error-color;
        }
    }

    .form__actions {
        text-align: right;
    }
}